<div class="container">
    <form name="user">
        <label for="name">Full name:</label>
        <input id="name" name="name" type="text" data-ng-model="name" data-ng-pattern="namePattern" required />
        <span data-ng-show="user.name.$touched && user.name.$invalid">Please, enter your name</span>
        <label for="email">Email:</label>
        <input id="email" name="email" type="email" data-ng-model="email" required />
        <span data-ng-show="user.email.$touched && user.email.$invalid">Please, enter valid email</span>
        <label> I am 18 already: <input type="checkbox" data-ng-model="is18" required></label>
        <span data-ng-show="user.email.$touched && !is18">You should be 18 to proceed</span>
        <input type="submit" data-ng-click="submit()" />
    </form>
</div>