<html>
    <head>
        <link rel="stylesheet" href="./styles/style.css" type="text/css">
        <script src="./scripts/jquery-3.2.1.min.js"></script>
        <script src="./scripts/angular.min.js"></script>
        <script type="text/javascript" src="./scripts/angular-ui-router.min.js"></script>
        <script src="./styles/angular-tooltips.min.js"></script>
        <link href="./scripts/angular-tooltips.min.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="./scripts/angular-animate.min.js"></script>
        <link href="./scripts/angular-animation.css" rel="stylesheet" type="text/css" />
        <script src="./scripts/app.js"></script>
    </head>
    <body data-ng-app="hotel-booking">
        <div class="container">
            <div data-ng-controller="input-fields" data-ng-hide="isComplete()">
                <form name="user">
                    <label for="name">Full name:</label>
                    <input id="name" name="name" type="text" data-ng-model="name" data-ng-pattern="namePattern" required />
                    <span data-ng-show="user.name.$touched && user.name.$invalid">Please, enter your name</span>
                    <label for="email">Email:</label>
                    <input id="email" name="email" type="email" data-ng-model="email" required />
                    <span data-ng-show="user.email.$touched && user.email.$invalid">Please, enter valid email</span>
                    <label> I am 18 already: <input type="checkbox" data-ng-model="is18" required></label>
                    <span data-ng-show="user.email.$touched && !is18">You should be 18 to proceed</span>
                    <input type="submit" data-ng-click="submit()" />
                </form>
            </div>
            <div data-ng-controller="table-ctrl" data-ng-hide="isComplete()">
                <div class="center-blocks">
                    <div class="table-wrap">
                        <table class="booking-table">
                            <thead>
                                <tr>
                                    <td><div class="cell-content"></div></td>
                                    <th data-ng-repeat="date in dateRange"><div class="cell-content">{{ formatDate(date) }}</div></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="padding" data-ng-repeat-start="room in rooms"></tr>
                                <tr data-ng-repeat-end>
                                    <th>
                                        <div class="cell-content"
                                             tooltips
                                             tooltip-side="right"
                                             tooltip-template="{{ room.description }}"
                                             tooltip-show-trigger="click mouseover"
                                             tooltip-class="room-info">
                                            <div><big></big>{{ roomTypes[room.type] }}</big><small> #{{ room.number }}</small></div>
                                            <div>Floor: {{ room.storey }}</div>
                                            <span>{{ room.price }}$</span>
                                        </div>
                                    </th>
                                    <td data-ng-repeat="date in dateRange"
                                        data-ng-mousedown="mouseEventHandler(room, date, 'down', $event)"
                                        data-ng-mousemove="mouseEventHandler(room, date, 'move', $event)"
                                        data-ng-mouseup="mouseEventHandler(room, date, 'up', $event)">
                                        <div class="cell-content noselect">{{ formatDate(date) }} </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="table-info">
                    <span class="color-info">Your color is </span>
                    <span class="display" style="background-color: {{ getUserColor() }}"></span>
                    <span class="delim"></span>
                    <img class="details-icon"
                         src="./images/questionmark-icon.png"
                         alt="Hover me"
                         tooltips
                         tooltip-template="{{ bookedDetails }}"
                         tooltip-controller="table-ctrl"
                         tooltip-size="large"
                         tooltip-show-trigger="click"
                         tooltip-hide-trigger="click"
                         tooltip-class="booking-summary">
                    <span class="booked-info" data-ng-bind="bookedMsg"></span>
                </div>
            </div>
            <div data-ng-controller="finish" data-ng-hide="isComplete()">

            </div>
        </div>
    </body>
</html>