@font-face {
    font-family: GrandHotel;
    src: url("../fonts/GrandHotel-Regular.otf") format("opentype");
}

html {
    font-family: sans-serif, Arial, Helvetica;
}
body {
    padding: 0;
    margin: 0;
}
h2 {
    font-size: 2rem;
}


.page-header {
    background-color: #8cbf8c;
    padding: 1rem;
    color: #fff;
    z-index: -2;
}
.page-header h2 {
    margin: 0;
    display: inline;
}
.page-header .info {
    float: right;
    color: #428eff;
    font-weight: 600;
    text-align: right;
}
.logo-script {
    font-family: GrandHotel;
    font-size: 3rem;
    letter-spacing: 0.4rem;
    font-weight: 500;
}

#status-bar {
    width: 100%;
    display: block;
    z-index: -2;
}
#status-bar .progressbar {
    list-style-type: none;
    counter-reset: step;
}
#status-bar .progressbar li {
    float: left;
    width: 33.33%;
    position: relative;
    text-align: center;
}
#status-bar .progressbar li::before {
    content: '';
    height: 15px;
    width: 100%;
    background-color: #B1E2E2;
    position: absolute;
    top: 10px;
    left: -50%;
    z-index: -1;
}
#status-bar .progressbar li::after {
    content: counter(step);
    counter-increment: step;
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 20px;
    border-radius: 50%;
    border: 1px solid #50EBFF;
    margin: 0 auto 10px auto;
    background-color: #0D66EB;
    display: block;
    text-align: center;
    z-index: 9999;
    cursor: pointer;
}

#status-bar .progressbar li.active::after {
    background-color: #358c35;
}
#status-bar .progressbar li:first-child::before {
    width: 0;
}
#status-bar .progressbar li.active::before {
    background-color: #7eda7e;
}

center-blocks {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.table-wrap {
    display: block;
}
div.table-wrap div {
    display: inline-block;
}

div.data-table-wrap {
    overflow-x: auto;
}

div.container {
    padding: 50px 50px 0;
}

div.table-wrap table {
    border-spacing: 0rem;
}
div.table-wrap td, th {
    border: 0 solid lightgray;
    border-width: 0.1rem 0.05rem;
}
div.table-wrap tr.padding {
    height: 0.35rem;
}
div.table-wrap table div.cell-content {
    height: 4rem;
    width: 7rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.table-wrap table.header thead tr:nth-child(1) td {
    background: inherit;
    border-width: 0;
    height: 4.2rem;
    width: 7.1rem;
}
div.table-wrap table.header tbody th {
    background-color: #C7EEC7;
}
div.table-wrap table.header tbody tr:nth-child(2) th {
    border-radius: 0.7rem 0 0 0;
}
div.table-wrap table.header tbody tr:nth-last-child(1) th {
    border-radius: 0 0 0 0.7rem;
}
div.header-wrap {
    width: calc(100% - 7.1rem);
}
table.booking-table td div.cell-content,table.booking-table th div.cell-content {
    height: 4rem;
    width: 7rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
table.booking-table th {
    background-color: #BADFBA;
}
table.booking-table tbody td {
    background-color: #8bea8b;
    cursor: pointer;
}
table.booking-table tbody td.booked {
    background-color: #ff9cbc;
}
table.booking-table tbody td.chosen {
    background-color: #ffe66d;
}
table.booking-table tbody td.choosing {
    background-color: #ceea8b;
}
table.booking-table tbody th:nth-child(1) {
    border-radius: 0.7rem 0 0 0.7rem;
    position: absolute;
}
table.booking-table thead th {
    background-color: #B1E2E2;
}
table.booking-table thead tr:nth-child(1) {
    border-radius: 0.7rem 0.7rem 0 0;
}
table.booking-table thead tr:nth-child(1) td:nth-child(1) {
    visibility: hidden;
}
table.booking-table thead tr:nth-child(1) th:nth-child(2) {
    border-radius: 0.7rem 0 0 0;
}
table.booking-table thead tr:nth-child(1) th:nth-last-child(1) {
    border-radius: 0 0.7rem 0 0;
}
table.booking-table tbody tr:nth-last-child(1) td:nth-last-child(1) {
    border-radius: 0 0 0.7rem 0;
}


table.booking-table tbody th div.cell-content {
    display: block;
    text-align: center;
}
table.booking-table thead {
    z-index: -1;
}
table.booking-table tbody th:nth-child(1):hover {
    background-color: #BADFBA;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}
.table-info {
    position: sticky;
    bottom: -5px;
    border: 3px solid #50EBFF;
    background-color: #A8DDC9;
    border-radius: 5px;
    padding: 7px 7px 12px;
    margin: 1rem;
    color: #4E4E4E;
}
.table-info .booked-info {
    font-size: 150%;
}
.table-info .color-info {
    font-weight: bold;
}
.table-info .delim {
    display: inline-block;
    border-radius: 0.2rem;
    background-color: #888;
    width: 0.125rem;
    height: 1.55rem;
    margin: 0 0.8rem;
}
.table-info .display {
    height: 1.3rem;
    width: 1.9rem;
    border-radius: 0.3rem;
    display: inline-block;
    border: 2px solid #fff;
    margin: 0 0.4rem;
}
.table-info .next-button {
    border: 3px solid #00A;
    color: #333;
    padding: 0.5rem;
}
.details-icon {
    margin: 0 0.4rem;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.booking-summary {
    min-width: 20rem;
    max-height: 13rem;
    text-align: left;
    overflow-y: auto;
}
.room-info {
    min-width: 20rem;
}



input {
    border: 1px solid #4f6b6b;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background: #e6ffff;
    font-size: 1rem;
    font-weight: 600;
    color: #4f6b6b;
    letter-spacing: 1px;
}

button {
    background: #7ec3ff;
    border-width: 0px;
    padding: 0.8rem 1.2rem;
    margin: 0.7rem;
    border-radius: 0.5rem;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 100%;
    cursor: pointer;
    display: block;
    margin-left: auto;
}
button.small-nomargin {
    padding: 0.5rem 0.8rem;
    margin: 0;
    float: right;
}
button:disabled {
    background: #adadad;
    border: 2px solid #797979;
    cursor: not-allowed;
}

label {
    display: block;
    letter-spacing: 1px;
    font-weight: 600;
    color: #4e4e4e;
    margin: 0.2rem;
}

div.input-group
{
    margin: 20px;
}

.warning {
    color: #c17008;
    font-weight: 600;
    font-style: italic;
    text-shadow: 1px 1px #e8cc63;
    margin: 0.2rem;
}

.panel {
    width: 30%;
    min-width: 33rem;
    border: 5px solid #8cbf8c;
    margin: 2rem auto;
    padding: 20px;
    border-radius: 1rem;
}



.filters {
    border: 3px solid #50EBFF;
    background-color: #A8DDC9;
    border-radius: 5px;
    padding: 7px 7px 12px;
    margin: 1rem;
    color: #fff;
    font-weight: bold;
    font-size: 150%;
}

.filters .input-group {
    display: inline-block;
    margin: 5px;
}
.filters * {
    margin: 5px;
}

.filters input[type="number"] {
    width: 6rem;
}

.finish {
    color: #8cbf8c;
    text-align: center;
}
.finish div.summary{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
.thank {
    font-family: GrandHotel;
    font-size: 6rem;
}


.summary div {
    font-size: 1.5rem;
    text-align: left;
}

.finish button {
    margin-left: auto;
    margin-right: auto;
}

.hint {
    color: #519451;
    display: block;
    text-align: center;
}