html {
    font-family: sans-serif, Arial, Helvetica;
}

div.center-blocks {
    margin: 0 auto;
}

div.table-wrap {
    overflow-x: auto;
}

div.container {
    padding: 50px 50px 0;
}

table.booking-table {
    border-spacing: 0rem;
}
table.booking-table td, th {
    border: 0 solid lightgray;
    border-width: 0.1rem 0.05rem;
}
table.booking-table td div.cell-content,table.booking-table th div.cell-content {
    height: 4rem;
    width: 7rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
table.booking-table th {
    background-color: #BADFBA;
}
table.booking-table tbody td {
    background-color: #E4E4DE;
    cursor: pointer;
}
table.booking-table tbody tr.padding {
    height: 0.35rem;
}
table.booking-table tbody th:nth-child(1) {
    border-radius: 0.7rem 0 0 0.7rem;
    position: absolute;
}
table.booking-table thead th {
    background-color: #B1E2E2;
}
table.booking-table thead tr:nth-child(1) {
    border-radius: 0.7rem 0.7rem 0 0;
}
table.booking-table thead tr:nth-child(1) td:nth-child(1) {
    visibility: hidden;
}
table.booking-table thead tr:nth-child(1) th:nth-child(2) {
    border-radius: 0.7rem 0 0 0;
}
table.booking-table thead tr:nth-child(1) th:nth-last-child(1) {
    border-radius: 0 0.7rem 0 0;
}
table.booking-table tbody tr:nth-last-child(1) td:nth-last-child(1) {
    border-radius: 0 0 0.7rem 0;
}


table.booking-table tbody th div.cell-content {
    display: block;
    text-align: center;
}
table.booking-table tbody th:nth-child(1):hover {
    background-color: #C7EEC7;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.table-info {
    position: sticky;
    bottom: -5px;
    border: 3px solid #50EBFF;
    background-color: #A8DDC9;
    border-radius: 5px;
    padding: 7px 7px 12px;
    margin: 1rem;
    color: #4E4E4E;
}
.table-info .booked-info {
    font-size: 150%;
}
.table-info .color-info {
    font-weight: bold;
}
.table-info .delim {
    display: inline-block;
    border-radius: 0.2rem;
    background-color: #888;
    width: 0.125rem;
    height: 1.55rem;
    margin: 0 0.8rem;
}
.table-info .display {
    height: 1.3rem;
    width: 1.9rem;
    border-radius: 0.3rem;
    display: inline-block;
    border: 2px solid #fff;
    margin: 0 0.4rem;
}
.details-icon {
    margin: 0 0.4rem;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.booking-summary {
    min-width: 20rem;
    max-height: 13rem;
    text-align: left;
    overflow-y: auto;
}
.room-info {
    min-width: 20rem;
}