div.table-wrap {
    overflow-x: auto;
}

div.container {
    padding: 50px 50px 0;
}

table.booking-table td,th {
    border: 2px solid #2B1212;
    border-collapse: collapse;
}
table.booking-table tr {
    margin: 4px;
}